In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
def url_script(url):
    page=requests.get(url).text
    soup=BeautifulSoup(page,'lxml')
    text=[p.text for p in soup.find(class_='entry-content clearfix').find_all('p')]
    print(url)
    return text

In [3]:
url=url_script('https://www.thepanthertech.com/how-virtual-reality-is-transforming-the-travel-industry/')

https://www.thepanthertech.com/how-virtual-reality-is-transforming-the-travel-industry/

In [4]:
df=pd.DataFrame()

In [5]:
df['raw-data']=np.array(url)

In [6]:
df.head()

                                            raw-data
0  There have been some exciting developments in ...
1  Want to visit Tokyo but you’re unsure if it’s ...
2  Using VR, potential visitors are now able to g...
3  Despite the lockdowns and travel bans in place...
4  Even when traveling becomes safe again, you ca...

In [23]:
df.to_csv("Scrap_article",index=False,encoding='utf-8')

In [24]:
df=pd.read_csv("Scrap_article",encoding='utf-8')

In [25]:
df.head()

                                            raw-data
0  In the following excerpt, originally published...
1                                     by Umberto Eco
2  In 1953 Ian Fleming published the first novel ...
3  To Spillane, Casino Royale owes, beyond doubt,...
4  In the second place Bond is obsessed by an ima...